$fontSans: "Open Sans", sans-serif
$fontSerif: "Merriweather", serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #222
$gama: #575757
$delta:rgb(88, 88, 88)
$epsilon: #ededed
$omega: #fff
$zeta: #000
$kappa: #f3982726

$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
